<h3>{{titulo}}</h3>

<hr>

<h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()">Mostrar Log</button>
<input type="text" [(ngModel)]="colorSeleccionado"/>
<pre 
    [style.border]="colorSeleccionado == 'red' ? '5px solid black' : '1px solid green' "
    [ngClass]="{
        bordeAzul : colorSeleccionado == 'blue',
        fondeVerde : colorSeleccionado == 'green'
    }"
    >
    <b> Color elegido:</b>
    {{colorSeleccionado}}
</pre>
<div [ngStyle]="{
    'background': colorSeleccionado,
    'width': '200px',
    'height': '200px',
    'float' : 'right',
    'margin-right' : '65%'
}"></div>
<div style="clear: both"></div>
<h3>Colores switch</h3>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background': color,
        'color': 'white',
        'padding': '20px'
        }" >
        Es de color rojo
    </li>
    <li *ngSwitchCase="'green'" [ngStyle]="{
        'background': color,
        'color': 'white',
        'padding': '20px'
        }" >
        Es de color rojo
    </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{
        'background': color,
        'color': 'white',
        'padding': '20px'
        }" >
        Es de color rojo
    </li>
</ul>

<hr>

<b>Empleado estrella: </b>

<br>
<br>
<hr>
<div *ngIf="trabajadorExterno">
    <button (click)="cambiarExterno(false)" >Mostrar trabajador</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf="trabajadores[1].contratado">Esta contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">No esta contratado</li>
    </ul>
</div>

<div *ngIf="trabajadorExterno == false">
    <button (click)="cambiarExterno(true)">Mostrar empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado">Esta contratado</li>
        <li *ngIf="empleado.contratado == false">No esta contratado</li>
    </ul>
</div>

<hr>
<h3>Listado de empleados</h3>

<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <b>Empleado {{i + 1}}:</b>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No esta contratado</li>
        </ul>
    </li>
</ul>

