<h4>{{titulo}}</h4>

<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
    <button (click)='cambiar(false)'>Cambiar</button>
    <strong>Hola mundo</strong>
</ng-template>

<ng-template #noAdmin>
    <button (click)='cambiar(true)'>Cambiar</button>
    <strong>No eres admin</strong>
</ng-template>