<h2>
  {{ titulo }}
</h2>

<br>
<input type="text" [(ngModel)]="prendaGuardar"/>
<button (click)="guardarPrenda()">Añadir prenda</button>
<p *ngIf="prendaGuardar">La prenda a guardar es <b>{{ prendaGuardar }}</b></p>
<h3>Listado de prendas de ropa</h3>

<ul>
  <li *ngFor="let prenda of listadoRopa; let i = index">
    {{ prenda }} <button (click)='eliminarPrenda(i)'>Eliminar</button>
  </li>
</ul>
